@import 'constants/constans.scss';

.buttons {
  button {
    border: toRem(1) solid transparent;
    border-radius: $radius;
    padding: toRem(12) toRem(24);
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-size: toRem(14);
    font-weight: 600;
    color: $dark;

    &:hover {
      color: $accent;
      background-color: $blue_pale;

      [data-theme='dark'] & {
        color: $dark;
        background-color: rgba(0, 0, 0, 0.24);
        border: toRem(1) solid $grey_pale;
        // box-shadow:
        //   toRem(-0.5) 0 toRem(1) $dark,
        //   toRem(0.5) 0 toRem(1) $grey_pale;
      }
    }

    &.logout {
      color: $red;

      &:hover {
        color: $red;
        background-color: #dd005515;
      }
    }

    svg {
      margin-right: toRem(12);
      width: toRem(24);
      height: toRem(24);
    }
  }
}
